.button {
  margin: 16px;
}

a.button-link {
  border: 1px solid rgb(200,200,200);
  color: rgb(200,200,200);
  padding: 8px;
  border-radius: 5px;
}

a.button-link:hover {
  color: white;
  background-color:rgb(200,200,200);
}
